@page
@model FinalToDOListWebApplication.Pages.list.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList[0].Descrption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList[0].AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList[0].Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList[0].DoneDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDoList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoneDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>|
               
            </td>
        </tr>
}
    </tbody>
</table>
